@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverr:hover{
    transform: translate3d(11px, -11px, 333px);
}

.showup{
    animation-name: show;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}

@keyframes show {
    from{opacity: 0;}
    to{opacity: 1;};
    
}

.ztrans:hover{
    transform: translate3d(21px, -11px, 33333px);
    
}

.txtslide{
    animation-name: leftSlide;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 1;
    transform: translate(-600px, 300px);
 
}

@keyframes leftSlide {
    0%{
        transform: translate(-600px, 300px);
    };

    99%{
        opacity: 1;
        transform: translate(-600px, -100px);
    }

  

    100%{
        opacity: 1;
        transform: translate(-600px, -100px);
     
    }
}

/* @keyframes toRight {
    0%{
        transform: translate(-600px, -100px);
    };

 

    100%{
        transform:translate(0px, 0px)
    }
} */

.slide{
    animation-name: goright;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    opacity: 0;
    position: relative;
}

@keyframes goright {
    0%{transform: translateX(-500px);}

    100%{
    transform: translateX(0);
    opacity: 1;
    z-index: 20;
}
}

.rightslide{
    animation-name: rightslide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 1;
    transition-timing-function: ease-out;
}

@keyframes rightslide {
    0%{transform: translate(0, 0)}

    50%{
        transform: translate(0, 120px);
 
    }
    100%{
        transform: translate(710px, 120px);
        z-index: 20;
      
}
}


.imgSlide{
    animation: imgSlide .5s ease-out 3s forwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

@keyframes imgSlide {
   0% {transform: translateX(990px);
    opacity: 0;
}


    100%{
    transform: translateX(0);
    opacity: 1;
}
}


.fronttext{
    animation-name: fronttext;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-out;
}

@keyframes fronttext {
    0% {transform: translateY(-9990px);
     opacity: 0;
 background-color: none;}
 60%{@apply  lg:-translate-y-8 lg:-translate-x-8}
 90%{@apply bg-none}
 100%{ @apply   lg:-translate-y-8 lg:-translate-x-8 opacity-100}
 }
 
.containerSlide{
    animation-name: container;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    transform: translateY(0);
    transition-timing-function: ease-out;
    
}

@keyframes container {
    0% {transform: translateY(-9990px);
     opacity: 0;
 background-color: none;}
 5%{
    transform: translateY(50%);
    opacity:1
 }

 90%{
    transform: translateY(50%);
   
 }

 98%{
    transform: translateY(10%);
 }
    

}

.firstSlide{
    animation: slideUp .1s ease-out 3.6s forwards;
    opacity: 0;
  
}

.secondSlide{
    animation: slideUp .15s ease-out 3.6s forwards;
    opacity: 0;
}

.thirdSlide{
    animation: slideUp .20s ease-out 3.6s forwards;
    opacity: 0;
}

.fourthSlide{
    animation: slideUp .25s ease-out 3.6s forwards;
    opacity: 0;
}

@keyframes slideUp {
    0% {transform: translateY(9990px);
        opacity: 0;
   
}


 100%{
   opacity: 1;
 }
    

}



.showup{
    animation-name: showUp;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-out;
    
}

@keyframes showUp {
    0% {transform: scale3d(0.1, 0.1, 0.1);
    opacity: 0;
}


 100%{
    transform: scale3d(1, 1, 1);
    opacity: 1;
   
 }
    

}

.myshadow{
    -webkit-box-shadow: 3px 3px 0px 2px #000000; 
box-shadow: 3px 3px 0px 2px #000000;
}

.negativeShadow{
    -webkit-box-shadow: -3px 3px 0px 2px #000000; 
    box-shadow: -3px 3px 0px 2px #000000;
}

.js{
    animation-name: cardShow;
    animation-duration: .3s;
    animation-fill-mode: none;
    transition-timing-function: ease-out;
    
}

.ts{
    animation-name: cardShow;
    animation-duration: .5s;
    animation-fill-mode: none;
    transition-timing-function: ease-out;
    
}

.react{
    animation-name: cardShow;
    animation-duration: .7s;
    animation-fill-mode: none;
    transition-timing-function: ease-out;
    
}

.git{
    animation-name: cardShow;
    animation-duration: .9s;
    animation-fill-mode: none;
    transition-timing-function: ease-out;
    
}

.tail{
    animation-name: cardShow;
    animation-duration: 1.1s;
    animation-fill-mode: none;
    transition-timing-function: ease-out;
    
}

.fire{
    animation-name: cardShow;
    animation-duration: 1.3s;
    animation-fill-mode: none;
    transition-timing-function: ease-out;
    
}

@keyframes cardShow {
    0% {transform: scale3d(0.1, 0.1, 0.1);
    opacity: 0;
}


 100%{
    transform: scale3d(1, 1, 1);
    opacity: 1;
   
 }
    

}

.slideDown{
    animation: slideDown .2s ease-in-out 3.2s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    opacity: 0;
  
}

@keyframes slideDown {
    0% {transform: translateY(-990px);
   
}

 100%{
   transform:translateY(0);
   opacity:1
 }
    

}

.slideUp{
    animation: slideUp .2s ease-in-out 3.2s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slideUp {
    0% {transform: translateY(990px);
   
}

 100%{
   transform:translateY(0);
   opacity:1
 }
    

}


.txtshadow{
    transform: translate(2px, -2px);
    animation: txtshadow 2s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
   
}

@keyframes txtshadow {
    0% {transform: translate(2px, -2px);
}
70%{transform: translate(2px, -2px)}
80%{transform: translate(5px, -5px);}
90%{transform: translate(4px, -4px);}
95%{transform: translate(5px, -5px);}
 100%{
    transform: translate(2px, -2px);
 }
    

}

/* .about{
    animation: iconBg 2s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;

    @apply text-slate-100
    
}

@keyframes iconBg {
    0% {
}
70%{@apply text-[#f72585]}

100%{@apply text-slate-100}

}
 */
